.profileSection {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.profileSection h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profileDetails svg {
    color: #555;
    margin-bottom: 10px;
}

.profileDetails h4 {
    font-size: 22px;
    color: #444;
    margin-bottom: 5px;
}

.profileDetails p {
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .profileSection {
        width: 90%;
    }
}
